# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --gateway=10.2.6.1 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --onboot=on --ipv6=auto --no-activate
#network  --hostname=Client-Group-2

# Root password
rootpw --iscrypted $6$U2xeZNgqPb9zGCAF$809Qg/jiX6bf0jzUmsSPeeTd1sNjSMHIghpvuBUCvd6mV9m7mphwyDpPFNjyFsyXCmuKkrHHf3UneKhSvmq3x.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=3814
part /var --fstype="xfs" --ondisk=sda --size=953
part swap --fstype="swap" --ondisk=sda --size=953
reboot

%packages
@^minimal
@core
chrony
kexec-tools


%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/var/log/post-install.log
#Updates the client prior to installing new software
/usr/bin/sudo /usr/bin/yum -y update >> /var/log/post-install.log
# Installing new software 
/usr/bin/sudo /usr/bin/yum -y install wget openldap-clients nss-pam-ldapd lsof nfs-utils python3 >> /var/log/post-install.log
# Grabbing files for LDAP and NFS config
/usr/bin/sudo /usr/bin/wget 'https://github.com/NKU-2-4orBUST/Project2/raw/main/ldap.conf' '-P' '/root/' > '/var/log/post-install.log'
#Configs LDAP
`/usr/bin/sudo \cp -f /root/ldap.conf /etc/openldap/ldap.conf`
`authconfig --enableldap --enableldapauth --ldapserver=10.2.7.71 --ldapbasedn='dc=cit470,dc=nku,dc=edu' --updateall`
#Configs NFS
`echo '10.2.7.71:/home                           /home                   nfs     defaults        0 0' >> /etc/fstab`
`setsebool -P use_nfs_home_dirs 1`
%end


